<nb-layout>

    <nb-layout-header fixed>
            <app-navbar></app-navbar>
    </nb-layout-header>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

</nb-layout>
