@import 'themes';

@import "~@nebular/theme/styles/globals";
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';

@include nb-install() {
    @include nb-theme-global();
    @include nb-auth-global();
    @include nb-bootstrap-global();
};


.pointer {
    cursor: pointer !important;
}


i .fa .menu{
    color:#fff!important;
}

i .fa .menu :hover {

}
